.wrapper_auth_page{
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url("../../media/auth_container_background.jpg");
  height: 100vh;
  background-size: cover;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.container_auth{

  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.form{
  display: flex;
  flex-direction: column;
}


