.wrapper_auth_page{
  background-size: cover;
  background-image: url("../../media/auth_container_background.jpg");
  height: 100vh;
}

.container_auth{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
