//color
$accent: #F5B963;
$white: #fff;
$black:#000000;
$cadet-blue: #5f9ea0;
$dark-header: #22223C;

//size
$icon-size: 20px;
$input-size: 20px;


//font-size
$font-poppins: Poppins;
$font-sourceCodePro: Source Code Pro;
$font-sourceSerifPro: Source Serif Pro;
$font-helvetica: Helvetica;
$font-inter: Inter;


