@import "../../../variables";

.wrapper_auth_page{
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url("../../../media/white-cloud-blue-sky-background.jpg");
  height: 100vh;
  background-size: cover;
  min-height: 100%;
}

.container_auth{
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.form{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  color:$black;
  font-size: $iconSize;
}

.right_menu{
  &.user_icon{
    color:$black;
    font-size: $iconSize;
  }
  &.wrapper{
    display: flex;
    justify-content: space-around;
  }
}

