.button-travellers.ant-btn.ant-btn-default.button-travellers {
  background-color: #EAEAEA;
  border: none;
  width: 140px
}

.text-button {
  color: #565656;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
