.container {
  margin: 0 auto;
  width: 1044px;
}

.form-reset-margin.ant-form-item {
  margin-bottom: 0;
}

.header {
  color: #22223C;
  font-family: Source Serif Pro, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.95px;
}

.underline {
  border-bottom: 2px solid #F5B963;
  padding-bottom: 5px;
}
