.container__wrapper {
  padding-top: 100px;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  color: #47475F;
  font-family: Poppins, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.best-place-card {
  padding-top: 40px;
}
